In [1]:
x=()
print(x)
tuple1=tuple()
print(tuple1)

()
()

In [2]:
original_list1 = [10,22,44,23,55]
new_list2 = list(original_list1)
print(original_list1)
print(new_list2)

[10, 22, 44, 23, 55]
[10, 22, 44, 23, 55]

In [3]:
#create a tuple with differentdata type
tuple2=("tuple",False,3.2,1)
print(tuple2)

('tuple', False, 3.2, 1)

In [4]:
#get an item of the tuple
tuplex=("u","I","T","2","0","1","9","b","a","t","c","h")
print(tuplex)
#Get item (4th element) of the tuple by index
item=tuplex[3]
print(item)
#Get item (4th element from last) by index negative
item1=tuplex[-4]
print(item1)

('u', 'I', 'T', '2', '0', '1', '9', 'b', 'a', 't', 'c', 'h')
2
a

In [5]:
lst=[2,3,4]
lst.extend([5,6])
lst
lst2=lst.copy()
lst2
lst.clear()
lst
[]
lst2

[2, 3, 4, 5, 6]

In [1]:
#this program is to compute the height reached by the ladder with the help of length and angle
import math
length = float(input("LENGTH OF THE LADDER:"))
ang_d = float(input("input angle in degree:"))
ang_r=math.pi*ang_d/180
height=length*math.sin(ang_r)
print("The height of the ladder is", height)

LENGTH OF THE LADDER:5
input angle in degree:45
The height of the ladder is 3.5355339059327378

In [4]:
lst=[11,52,253,45,98]
middle = int(len(lst) / 2)
print(lst[first_middle])

253

In [8]:
number_list=[44,51,61,535,6]
number_list.sort(reverse = True)
print("my number list in descending",number_list)

my number list in descending [535, 61, 51, 44, 6]

In [10]:
no_list=[32,53,61,43,16]
no_list.insert(len(no_list),no_list.pop(0))
print(no_list)

[53, 61, 43, 16, 32]

In [67]:
lst=[11,2,253,45,98]
middle = int(len(lst) / 2)
middle_index = lst.index(middle)
print(middle_index)

1

In [49]:
monthl=['jan','feb','mar','may']
montht=('jan','feb','mar','may')
monthl.insert(3,'apr')
montht = montht[ : 3 ] + ('apr' ,)+montht[3:]
print(monthl)
print(montht)

['jan', 'feb', 'mar', 'apr', 'may']
('jan', 'feb', 'mar', 'apr', 'may')

In [50]:
monthl.insert(5,'jun')
print(monthl)
montht=montht[:5]+('jun',)+montht[5:]
print(montht)

['jan', 'feb', 'mar', 'apr', 'may', 'jun']
('jan', 'feb', 'mar', 'apr', 'may', 'jun')

In [59]:
month=['jan','feb','mar','may']
month1=('jan','feb','mar','may')
month1=list(month1)
month1.pop()
month.pop()

'may'

In [69]:
monthl=['jan','feb','mar','may']
monthl.remove('feb')
montht=('jan','feb','mar','may')
montht=list(montht)
montht.remove('feb')
print(montht)
print(monthl)

['jan', 'mar', 'may']
['jan', 'mar', 'may']

In [71]:
month5=['jan','feb','mar','may']
month5.reverse()
print(month5)

['may', 'mar', 'feb', 'jan']

In [88]:
month5=['jan','feb','mar','may']
month5.sort()
print(month5)

['feb', 'jan', 'mar', 'may']

In [86]:
first_word= 'anachronistically'
second_word= 'counterintutive'
print("the number of character in the word anachronistically is " +str(len(first_word ))) 
print("the number of character in the word counterintutive is " +str(len(second_word))) 
print("the number in character anachronistically "+str(len(first_word)-(len(second_word)))+" then counterintutive")

the number of character in the word anachronistically is 17
the number of character in the word counterintutive is 15
the number in character anachronistically 2 then counterintutive

In [87]:
wor=("floccinaucinihilipilification") 
wor.count("e")
print("number of e in given word is "+str(wor.count("e")))

number of e in given word is 0

In [89]:
dictionary=['misrepresentation','misinterpretation']
dictionary.sort()
print(dictionary)

['misinterpretation', 'misrepresentation']

In [90]:
ELEMENT_1 ="counterrevolution" 
ELEMENT_2="counter" 
ELEMENT_3="revolution" 
print("number of characters in counterrevolutionis "+str(len(ELEMENT_1))) 
print("sum of counter and revolution is "+str(len(ELEMENT_2)+(len(ELEMENT_3))))
print("NUMBER OF LETTER IN ELEMENT 1 ARE EQUAL TO THE SUM OF THE LETTLES OF ELEMENT 2 AND 3")

number of characters in counterrevolutionis 17
sum of counter and revolution is 17
NUMBER OF LETTER IN ELEMENT 1 ARE EQUAL TO THE SUM OF THE LETTLES OF ELEMENT 2 AND 3

In [1]:
a=2 
b=4 
c=(a+b)/2 
print(c)
inventory = ['paper','staplers','pencil'] 
first = 'John' 
middle = 'Fitzgerald' 
last = 'Kennad' 
fullname = first + " " + middle + " " + last 
print("my fullname is " + fullname)

3.0
my fullname is John Fitzgerald Kennad

In [19]:
from datetime import date
date_1 = date(2019, 1, 8)
date_2 = date(2019, 5, 15)
difference = date_2 - date_1
print("Number of days between date_1 and date_2 are:",difference.days, "days")

Number of days between date_1 and date_2 are: 127 days

In [2]:
from math import sqrt
r=10
X=0
Y=0
first_target=sqrt((0-0)**2+(0-0)**2)
second_target=sqrt((10-0)**2+(10-0)**2)
third_target=sqrt((6-0)**2+(6-0)**2)
fourth_target=sqrt((8-0)**2+(7-0)**2)
print(first_target<r)
print(second_target<r)
print(third_target<r)
print(fourth_target<r)

True
False
True
False